{% import "macros/macros.html" as post_macros %}

<!doctype html>
<html lang="en">
    <html class="dark light">
        <head>
            <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
            <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="192x192" href="/favicons/android-chrome-192x192.png">
            <link rel="icon" type="image/png" sizes="512x512" href="/favicons/android-chrome-512x512.png">
        </head>
        <script
            defer
            src="https://umami.ramones.dev/script.js"
            data-website-id="5d13e8e6-cedd-48b5-8c6b-8faf5b6277b7"
        ></script>
        <script src="/footnotes.js"></script>
        {% include "partials/header.html" %}

        <body>
            <div class="content">
                {% include "partials/nav.html" %} {# Post page is the default #}
                {% block main_content %} Nothing here?! {% endblock main_content
                %}
            </div>
        </body>
    </html>
</html>
