{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
<html class="dark light">
<script defer src="https://umami.ramones.dev/script.js" data-website-id="5d13e8e6-cedd-48b5-8c6b-8faf5b6277b7"></script>

    {% include "partials/header.html" %}

<body>
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}

    </div>
</body>

</html>
